html {
  --bg: #000000;
  --fg: #ffffff; 
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

* {
  color: #ffffff;
}

body {
  font-family: sans-serif;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  gap: 64px;
}

button {
  margin-top: 8px;
  font-size: 16px;
  padding: 8px;
  color: #ffffff;
  background-color: #000000;
  border: solid 1px #444444;
  border-radius: 4px;

  &:hover {
    border-color: #ffffff;
  }
  &:active {
    border-color: #888888;
    background-color: #444444;
  }
}

.title::before {
  content:"🎧";
  font-size: 28px;
  margin-right: 8px;
}

.title {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0px 32px;
  border-bottom: solid 2px #444444;
}

.main {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 48px;
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  max-width: 640px;
  width: 640px;
}

.sidebar {
  position: relative;
  width: 240px;
  overflow-y: scroll;
  border: solid 1px #444444;
  border-radius: 4px;
}

.sidebar-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.sidebar-track {
  border-bottom: solid 1px #444444;
  padding: 4px 8px;
  word-break: break-word;

  &:hover {
    background-color: #222222;
  }
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & #track-title {
    font-size: 32px;
    margin: 0px;
    margin-bottom: 16px;
  }
}

.special-controls {
  align-self: stretch;
  margin: 16px 32px;

  & h4 {
    margin: 0;
    margin-bottom: 8px;
  }
}

.buttons {
  
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
  align-self: stretch;
  gap: 32px;
  height: 64px;
  margin-top: 32px;

  * {
    flex: 1;
  }
}

@media (max-width: 960px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    align-self: stretch;
    width: unset;
    min-height: 480px;
  }

  .sidebar-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (max-width: 600px) {
  .content {
    align-self: stretch;
    margin: 0px 32px;
    width: auto;
  }

  .title {
    & h4 {
      font-size: 18px;
    }
  }
}
