html {
  --bg: #000000;
  --fg: #ffffff; 
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

* {
  color: #ffffff;
}

body {
  font-family: sans-serif;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  margin-top: 8px;
  align-self: flex-end;
  font-size: 16px;
  padding: 8px;
  color: #ffffff;
  background-color: #000000;
  border: solid 1px #444444;
  border-radius: 4px;

  &:hover {
    border-color: #ffffff;
  }
  &:active {
    border-color: #888888;
    background-color: #444444;
  }
}

.login-title {
  font-size: 32px;
}

.login-form {
  display: flex;
  flex-direction: column;

  & input {
    outline: none;
    padding: 8px;
    background-color: #000000;
    border: solid 1px #444444;
    border-radius: 4px;
    margin-bottom: 16px;

    &:focus {
      border-color: #ffffff;
    }
  }

  & label {
    margin-bottom: 8px;
  }
}

.container {
  padding: 32px;
  width: 512px;
  border-radius: 32px;
  border-width: 1px;
  border-color: #444444;
  border-style: solid;
}
