<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>로그인</title>
</head>
<body>
  <div class="container">
    <h1 class="login-title">로그인</h1>
    <form method="POST" class="login-form">
        <label for="username">사용자 이름:</label>
        <input type="text" name="username" required>
        <label for="password">비밀번호:</label>
        <input type="password" name="password" required>
        <button type="submit">로그인</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
</body>
</html>
